.event {
  &Inner {
    position: relative;

    background-color: var(--color-background-content);
    width: 320px;
    height: 320px;
    border: 1px solid var(--color-border);
    border-radius: 0 50px 0 50px;
    box-shadow: inset 0px 0px 150px black;

    // background-image: url('https://sun9-75.userapi.com/impg/6cnJk4tauqTYKDT5gXRHHuKzP5mH3167JUWyGg/fPi2miPs9yg.jpg?size=500x532&quality=96&sign=987fc7fdd88095166e7e245e98bebf90&type=album');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 0px 5px var(--color-highlight);
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    box-shadow: 0px 0px 0px var(--color-highlight);
    transition: all 0.2s ease-out;
  }

  &Highrank {
    position: absolute;
    height: 100px;
    width: 100px;
    right: 0;
    top: 0;
    background-color: var(--color-background-highlight);
    border: 1px solid var(--color-border);
    border-radius: 90%;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px;
    > * {
      width: 100%;
      height: 100%;
    }
  }

  &Lowrank {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    background-color: var(--color-background-highlight);
    border: 1px solid var(--color-border);
    border-radius: 90%;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px;

    > * {
      width: 100%;
      height: 100%;
    }
  }

  &Header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;

    > :first-child {
      background-color: var(--color-background-content);
      height: 40px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 5px;
      padding: 5px;

      > :first-child {
        background-color: gray;
        border: 1px solid var(--color-border);
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }
      user-select: all;
      pointer-events: all;
    }

    > :last-child {
      height: 110px;
      width: 100%;
      background: linear-gradient(
        0deg,
        transparent,
        transparent,
        rgba(20, 20, 20, 0.1) 0,
        var(--color-background-content)
      );
    }
  }

  &Footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;

    > :first-child {
      height: 110px;
      width: 100%;
      background: linear-gradient(
        180deg,
        transparent,
        transparent,
        rgba(20, 20, 20, 0.1) 0,
        var(--color-background-content)
      );
    }

    > :last-child {
      background-color: var(--color-background-content);
      height: 40px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;
      gap: 5px;
      padding: 5px;

      > :last-child {
        font-size: 0.75rem;
        color: var(--color-sub-text);
      }
      user-select: all;
      pointer-events: all;
    }
  }

  &Img {
    cursor: pointer;
    user-select: none;
  }

  &Info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 120px;
    height: 250px;

    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    z-index: 10;
    padding: 0px 2px;

    &Content {
      width: 100%;
    }

    &Item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 20px;

      padding: 0 5px;
      white-space: nowrap;

      * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > :first-child {
        width: 40px;
      }

      > :last-child {
        width: 40px;
      }

      &Active {
        > :last-child {
          * {
            background-color: var(--color-highlight);
            border: 1px solid var(--color-border);
            border-radius: 50%;
            width: 10px;
            height: 10px;
          }
        }
      }

      &Time {
        min-width: 65px;
      }

      &Hr {
        width: 100%;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 900;
        margin-top: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        padding: 2px 0;

        // opacity: 0.7;
        // background-color: var(--color-background-highlight);
      }
    }

    &Join {
      margin-top: 10px;
      background-color: var(--color-highlight);
      width: 100%;
      height: 20px;
      color: black;
      cursor: pointer;
    }
  }

  &Blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 120px;
    height: 250px;

    border: 2px solid var(--color-border);

    background-color: var(--color-background-highlight);
    opacity: 0.8;
  }
}
